nav {
    display: flex;
    flex-wrap: wrap;
  }
main {  
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }  
aside {
    display: flex;
  }
article {
  display:flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: center;

}

article > img {
  max-width: 20%;
  margin: 5px;
}


@media screen and (max-width: 700px) {
    aside, article{
        width: 100%;
        height:auto;
        padding: 5px;

    }
    nav a {
          width:90px;
          font-size: 8px;
    }
    article > img {
      max-width: 40%;
    }

  } 
@media screen and (max-width: 300px){
  nav a {
    width: 100%;
    font-size:x-small;
  }
  article > img {
    max-width: 90%;
  }
} 